<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PdfCreator.Properties.DepartmentPdf" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="PdfCreator.Properties.FacStaffPdf" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="PdfCreator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PdfCreator.Properties.DepartmentPdf>
            <setting name="Introduction" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>This telephone directory is generated nightly using data taken from the Banner </string>
                        <string>system. Some of the basic directory data starting on page 11 can be changed </string>
                        <string>using Self Service on Trailhead. More information is available at </string>
                        <string>http://inside.mines.edu/DirectoryServicesDataSources . To update information </string>
                        <string>in pages 1-11, please contact Telecom at https://www.mines.edu/ccit/telecommunications/ . For department/name/title or </string>
                        <string>other assignment-related changes, please contact the HR department </string>
                        <string>(https://www.mines.edu/humanresources/) .</string>
                        <string />
                        <string>The Colorado School of Mines does not discriminate against individuals on the basis of age, sex, sexual orientation, </string>
                        <string>gender identity, gender expression, race, religion, ethnicity, national origin, </string>
                        <string>disability, military service, or genetic information in its administration of </string>
                        <string>educational policies, programs, or activities; admissions policies; scholarship </string>
                        <string>and loan programs; athletic or other school-administered programs; or employment.</string>
                        <string />
                        <string>Additional information about access and equal opportunity, including the names </string>
                        <string>of staff members to whom inquiries regarding compliance may be directed, can </string>
                        <string>be found at https://www.mines.edu/policy-library/. </string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DataProvider" serializeAs="String">
                <value>Excel</value>
            </setting>
            <setting name="ServiceCallQuery" serializeAs="String">
                <value>TBD</value>
            </setting>
        </PdfCreator.Properties.DepartmentPdf>
        <PdfCreator.Properties.FacStaffPdf>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=csmis3; Initial Catalog=peopletest; Integrated Security=true</value>
            </setting>
            <setting name="QueryString" serializeAs="String">
                <value>select top 100 workphone, LName + ',' + Fname as EmpName, department, campusBuilding, campusOfficeNo, email, faxphone, title from fac_staff_dir_view1 where releaseflag is null order by LName, fname</value>
            </setting>
            <setting name="DataProvider" serializeAs="String">
                <value>MSSQL</value>
            </setting>
            <setting name="Name" serializeAs="String">
                <value>EmpName</value>
            </setting>
            <setting name="PhoneNumber" serializeAs="String">
                <value>Workphone</value>
            </setting>
            <setting name="Department" serializeAs="String">
                <value>Department</value>
            </setting>
            <setting name="FaxNumber" serializeAs="String">
                <value>FaxPhone</value>
            </setting>
            <setting name="EmailAddress" serializeAs="String">
                <value>Email</value>
            </setting>
            <setting name="Title" serializeAs="String">
                <value>Title</value>
            </setting>
            <setting name="Building" serializeAs="String">
                <value>CampusBuilding</value>
            </setting>
            <setting name="Office" serializeAs="String">
                <value>CampusOfficeNo</value>
            </setting>
            <setting name="URL" serializeAs="String">
                <value>Url</value>
            </setting>
        </PdfCreator.Properties.FacStaffPdf>
        <PdfCreator.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=csmis3; Initial Catalog=peopletest; Integrated Security=true</value>
            </setting>
            <setting name="QueryString" serializeAs="String">
                <value>select top 100 workphone, LName + ',' + Fname as EmpName, department, campusBuilding, campusOfficeNo, email, faxphone, title from fac_staff_dir_view1 where releaseflag is null order by LName, fname</value>
            </setting>
            <setting name="DataProvider" serializeAs="String">
                <value>MSSQL</value>
            </setting>
        </PdfCreator.Properties.Settings>
    </applicationSettings>
</configuration>