<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PdfCreator.Properties.DepartmentPdf" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="PdfCreator.Properties.FacStaffPdf" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="PdfCreator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PdfCreator.Properties.DepartmentPdf>
            <setting name="InfoIntro" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>This telephone directory is generated nightly using data taken from the Banner </string>
                        <string>system. Some of the basic directory data starting on page 11 can be changed </string>
                        <string>using Self Service on Trailhead. More information is available at </string>
                        <string>http://inside.mines.edu/DirectoryServicesDataSources . To update information </string>
                        <string>in pages 1-11, please contact Telecom at https://www.mines.edu/ccit/telecommunications/ . For department/name/title or </string>
                        <string>other assignment-related changes, please contact the HR department </string>
                        <string>(https://www.mines.edu/humanresources/) .</string>
                        <string />
                        <string>The Colorado School of Mines does not discriminate against individuals on the basis of age, sex, sexual orientation, </string>
                        <string>gender identity, gender expression, race, religion, ethnicity, national origin, </string>
                        <string>disability, military service, or genetic information in its administration of </string>
                        <string>educational policies, programs, or activities; admissions policies; scholarship </string>
                        <string>and loan programs; athletic or other school-administered programs; or employment.</string>
                        <string />
                        <string>Additional information about access and equal opportunity, including the names </string>
                        <string>of staff members to whom inquiries regarding compliance may be directed, can </string>
                        <string>be found at https://www.mines.edu/policy-library/. </string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DataProvider" serializeAs="String">
                <value>Excel</value>
            </setting>
            <setting name="ServiceQuery" serializeAs="String">
                <value>select empName,department,campusBuilding,campusOfficeNo,email,faxphone,workphone,title,url,notes,category from [services$] where empName is not null order by category, catsuborder</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>DepartmentDataTransform.xlsx</value>
            </setting>
            <setting name="Name" serializeAs="String">
                <value>EmpName</value>
            </setting>
            <setting name="PhoneNumber" serializeAs="String">
                <value>Workphone</value>
            </setting>
            <setting name="Department" serializeAs="String">
                <value>Department</value>
            </setting>
            <setting name="FaxNumber" serializeAs="String">
                <value>FaxPhone</value>
            </setting>
            <setting name="EmailAddress" serializeAs="String">
                <value>Email</value>
            </setting>
            <setting name="Title" serializeAs="String">
                <value>Title</value>
            </setting>
            <setting name="Building" serializeAs="String">
                <value>CampusBuilding</value>
            </setting>
            <setting name="Office" serializeAs="String">
                <value>CampusOfficeNo</value>
            </setting>
            <setting name="URL" serializeAs="String">
                <value>Url</value>
            </setting>
            <setting name="Notes" serializeAs="String">
                <value>Notes</value>
            </setting>
            <setting name="Category" serializeAs="String">
                <value>Category</value>
            </setting>
            <setting name="CellNumber" serializeAs="String">
                <value>cellPhone</value>
            </setting>
            <setting name="EmergencyQuery" serializeAs="String">
                <value>select empName,department,campusBuilding,campusOfficeNo,email,faxphone, workphone,title,url,notes,category, cellPhone from [emergency$] where empName is not null order by category, catsuborder</value>
            </setting>
            <setting name="InfoCampus" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>CSM HAS FOUR DIRECT EXCHANGES WITHIN THE TELEPHONE SYSTEM:&lt;newline&gt;</string>
                        <string>303-273-3000 through 3999 (Administration/Faculty/Staff)&lt;newline&gt;</string>
                        <string>303-384-2000 through 2999 (Administration/Faculty/Staff)&lt;newline&gt;</string>
                        <string>303-869-5000 through 5999 (Students)&lt;newline&gt;</string>
                        <string>303-215-6100 through 6539 (Students)&lt;newline&gt;</string>
                        <string />
                        <string>GENERAL DIALING INSTRUCTIONS:&lt;newline&gt;</string>
                        <string>Dial '9-1-1' for emergencies.&lt;newline&gt;</string>
                        <string>Dial '9' for local access.&lt;newline&gt;</string>
                        <string>Dial '9-1' for long distance access.&lt;newline&gt;</string>
                        <string>Dial '9-011' for international calls.&lt;newline&gt;</string>
                        <string>When on campus, dial the four-digit Extension. If you wish to place a call from the campus to an off campus </string>
                        <string>site, you must first dial a '9', then the ten digit telephone Number. Call ext. 3355 for telephone assistance or </string>
                        <string>dial 0 for the automated campus directory service.&lt;newline&gt;</string>
                        <string>Telecommunications web site: https://www.mines.edu/ccit/telecommunications/&lt;newline&gt;</string>
                        <string>The toll free number for general school business is 1-800-446-9488.&lt;newline&gt;</string>
                        <string>The toll free number for Admissions &amp; Financial Aid is 1-888-446-9489.</string>
                        <string />
                        <string>VOICE MAIL SERVICE:&lt;newline&gt;</string>
                        <string>The OpenUC voice mailbox is part of the new OpenUC VoIP telephone system. All OpenUC sets have the </string>
                        <string>option for a voice mailbox set up at no cost, which includes a voice mail to email feature similar to Desktop </string>
                        <string>Messaging. The off-campus access number for OpenUC is 303-384-2100 or 1-800-446-9488 x2100. </string>
                        <string>For more information, visit https://www.mines.edu/ccit/telecommunications/</string>
                        <string />
                        <string>ELECTRONIC MAIL (E-MAIL)&lt;newline&gt;</string>
                        <string>For help with e-mail, submit a Support Request via the Mines Help Center https://mines.teamdynamix.com/</string>
                        <string>TDClient/Requests/ServiceCatalog or contact Computing, Communications, and Information Technologies </string>
                        <string>(CCIT) at extension 3430 or 303-273-3430 from off campus. Your campus e-mail address will be: username@mines.edu.</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="InfoSafety" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>For any life-threatening emergency, call 911 immediately. </string>
                        <string>The CSM Public Safety administrative hours are from 8:00am to 5:00pm, Monday through Friday. The office</string>
                        <string>is located at 1922 Jones Road (southeast corner of 6th Avenue and 19th Street). Individuals are invited to stop</string>
                        <string>by during office hours to ask questions, or simply to meet the staff. Please call in advance (303-273-3333) to</string>
                        <string>arrange for administrative needs outside the structured office hours. After-hours calls to Public Safety are</string>
                        <string>routed to the Golden Police Dispatcher, or you may call them directly at (303) 384-8045 to reach the on-duty</string>
                        <string>officer.</string>
                        <string />
                        <string>Public Safety Police Officers are professional, highly trained peace officers, as established in Colorado</string>
                        <string>Revised Statutes, and retain all powers and authorities accorded to any police officer in the State of Colorado.</string>
                        <string>Officers are available 24/7 to assist students and campus employees with emergencies, crimes, or other safety</string>
                        <string>and security issues.</string>
                        <string />
                        <string>Officers and staff are responsible for and dedicated to the safety and well-being of the students, faculty, and</string>
                        <string>staff at the Colorado School of Mines. Contact the department by phone at 303-273-3333, or via the</string>
                        <string>department web address: https://publicsafety.mines.edu Mines Public Safety is committed to making its campus a </string>
                        <string>safe and secure place to live, work, and attend school. The Public Safety department continually strives to provide proactive policing and to improve crime</string>
                        <string>prevention programs, like the RAD courses taught by CSM officers. Campus community members should be</string>
                        <string>aware, however, that despite the best efforts of the police and administrative staff, the possibility always exists</string>
                        <string>for a criminal act to occur against you or someone else. All suspicious incidents, crimes, and safety issues</string>
                        <string>should be reported to the Department of Public Safety immediately. The No-Tolerance, Alcohol and Drug</string>
                        <string>Policy and Student Code of Conduct are vigorously enforced by the police officers at CSM.</string>
                        <string>It is the mission of the Department of Public Safety to make the Mines campus the safest campus in the state</string>
                        <string>of Colorado. Services provided by the Public Safety Department include the following:&lt;newline&gt;</string>
                        <string>	•Patrol of the campus and all facilities, taking incident and crime reports as required&lt;newline&gt;</string>
                        <string>	•Investigation of campus incidents and crimes&lt;newline&gt;</string>
                        <string>	•Crime prevention and security awareness programs&lt;newline&gt;</string>
                        <string>	•Alcohol/drug abuse awareness presentations&lt;newline&gt;</string>
                        <string>	•Self defense training classes&lt;newline&gt;</string>
                        <string>	•Consultation with campus departments for security and safety matters&lt;newline&gt;</string>
                        <string>	•Citizen Assistance services to the campus community, such as unlocking or jumpstarting&lt;newline&gt;</string>
                        <string>	vehicles, community safe walk (escorts), building and office access,&lt;newline&gt;</string>
                        <string>	bicycle registrations, and assistance in any medical, fire, or other emergency situation&lt;newline&gt;</string>
                        <string>	•Dignitary protection.</string>
                        <string />
                        <string>MOTOR VEHICLES AND PARKING ON CAMPUS&lt;newline&gt;</string>
                        <string>The CSM vehicle operation and parking policy, approved by the Board of Trustees, mandates the registration</string>
                        <string>of ALL motor vehicles operated or parked within the campus boundaries (including Mines Park, Greek lots,</string>
                        <string>and on city streets). Vehicles must be registered with Parking Services immediately upon bringing a vehicle</string>
                        <string>on campus and properly display the registration permit while parking on campus controlled property. Student</string>
                        <string>vehicle registration fees are included in the assessed Student Fees.</string>
                        <string>For your occasional campus parking needs, pay station parking meters are available around campus for</string>
                        <string>students, employees and visitors.</string>
                        <string />
                        <string>All state and municipal traffic codes and parking regulations are enforced on campus every day,</string>
                        <string>including holiday and semester breaks. The City of Golden has implemented a permit policy in the residential areas surrounding campus. Parking by</string>
                        <string>anyone other than residents of these communities will be ticketed by the City.</string>
                        <string>Reserved parking is available exclusively for full-time faculty and staff. A distinct Reserved parking permit is</string>
                        <string>issued to individuals who are authorized to use reserved parking spaces. Members of the CSM community</string>
                        <string>are encouraged to use alternate means of transportation, where practical, due to limited parking spaces on</string>
                        <string>campus.</string>
                        <string />
                        <string>Unauthorized vehicles are not permitted in service spaces, reserved visitor spaces, fire lanes or other areas</string>
                        <string>denoted by signs or yellow, red, or other painted curbs. Violators are subject to ticketing and/or towing at the</string>
                        <string>owner/driver’s expense. Failure to pay campus parking fines will result in an encumbrance and denial of</string>
                        <string>registration and/or grade reports. Faculty and staff who fail to pay for campus parking violations may result in</string>
                        <string>payroll deductions and be denied future parking permits.</string>
                        <string>Inoperative, dismantled and/or abandoned vehicles are not allowed to remain on campus and may be towed at</string>
                        <string>the owner’s expense. A vehicle is considered abandoned if it has not been moved for a period of 2 weeks;</string>
                        <string>therefore, any student living on campus who does not move their vehicle regularly should check on it at least</string>
                        <string>once per week to ensure its safety and condition.</string>
                        <string />
                        <string>For additional information, please refer to the CSM Vehicle Operation and Parking Policy available at https://</string>
                        <string>www.mines.edu/parking/ or directly from the Parking Services office at 1922 Jones Road, Apt. 5. Office</string>
                        <string>hours are Monday through Friday 7:30am to 5:00pm.</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Address" serializeAs="String">
                <value>Address</value>
            </setting>
        </PdfCreator.Properties.DepartmentPdf>
        <PdfCreator.Properties.FacStaffPdf>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=csmis3; Initial Catalog=peopletest; Integrated Security=true</value>
            </setting>
            <setting name="QueryString" serializeAs="String">
                <value>select top 100 workphone, LName + ',' + Fname as EmpName, department, campusBuilding, campusOfficeNo, email, faxphone, title from fac_staff_dir_view1 where releaseflag is null order by LName, fname</value>
            </setting>
            <setting name="DataProvider" serializeAs="String">
                <value>MSSQL</value>
            </setting>
            <setting name="Name" serializeAs="String">
                <value>EmpName</value>
            </setting>
            <setting name="PhoneNumber" serializeAs="String">
                <value>Workphone</value>
            </setting>
            <setting name="Department" serializeAs="String">
                <value>Department</value>
            </setting>
            <setting name="FaxNumber" serializeAs="String">
                <value>FaxPhone</value>
            </setting>
            <setting name="EmailAddress" serializeAs="String">
                <value>Email</value>
            </setting>
            <setting name="Title" serializeAs="String">
                <value>Title</value>
            </setting>
            <setting name="Building" serializeAs="String">
                <value>CampusBuilding</value>
            </setting>
            <setting name="Office" serializeAs="String">
                <value>CampusOfficeNo</value>
            </setting>
            <setting name="URL" serializeAs="String">
                <value>Url</value>
            </setting>
        </PdfCreator.Properties.FacStaffPdf>
        <PdfCreator.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=csmis3; Initial Catalog=peopletest; Integrated Security=true</value>
            </setting>
            <setting name="QueryString" serializeAs="String">
                <value>select top 100 workphone, LName + ',' + Fname as EmpName, department, campusBuilding, campusOfficeNo, email, faxphone, title from fac_staff_dir_view1 where releaseflag is null order by LName, fname</value>
            </setting>
            <setting name="DataProvider" serializeAs="String">
                <value>MSSQL</value>
            </setting>
        </PdfCreator.Properties.Settings>
    </applicationSettings>
</configuration>